
:root {
    --font-01: 'Roboto';
    --font-02: 'Alan Sans';
    --font-03: 'Rubik';
    --font-03: 'Arial';

    --color-01: white;
    --color-02: black;
    --color-03: #4B7F52;
    --color-04: #96E8BC;
    --color-05: #7DD181;
    --color-06: #C9FFE2;
    --color-07: orange;
}

html {scroll-behavior: smooth;}


/************* BASIC RESET *************/
* {box-sizing: border-box; padding: 0; margin: 0;}

body{
    font-family: var(--font-02);
    line-height: 1.6;
    color: var(--color-02);
    background-color: var(--color-01);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {color: var(--color-02); text-decoration: none;}


/************* IMAGE *************/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo-img {height: 8rem; width: auto;}

/************* HEADER *************/
.main-header {
    background-color: var(--color-04);
    padding: 0.1rem;
    box-shadow: 0 2px 4px var(--color-03);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/************* SEARCH CONTAINER *************/
.search-container {
    margin-left: auto;
    display: flex; 
    align-items: center;
    max-width: 400px;
    width: 30%;
}

.search-container form {
    display: flex;
    width: 100%;
    border: 1px solid var(--color-06);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--color-01);
}

.search-container input[type="text"] {
    border: none;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    flex-grow: 1;
    outline: none;
}

.search-container input[type="text"]::placeholder {color: var(--color-03);}

.search-container button {
    background-color: var(--color-03);
    color: var(--color-01);
    border: none;
    padding: 0.4rem 0.8rem;
    margin-left: -60px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.search-container button:hover {
    background-color: var(--color-07);
    color: var(--color-01);
}


/************* MAIN CONTENT *************/
.main-content {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    position: relative; /*Positioning the background*/
    width: 100%;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.background-box {
    position: absolute;
    background-color: var(--color-03);
    top: -5rem;
    width: 100%;
    height: 550px;
    z-index: -1;
    border-top: 1px solid var(--color-03);
    border-bottom: 1px solid var(--color-03);
}

.hero-section {position: relative; padding: 2rem;}

.hero-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--color-01);
    line-height: 1.2;
    animation: pulse 1s infinite; 
    animation-direction: alternate; 
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(1.1); 
  }
}

.hero-subtitle {
    font-size: 1.5rem;
    color: var(--color-01);
    margin-bottom: 2rem;
}

/************* HERO IMAGE *************/
.animal-display-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 8px 16px var(--color-03);
    margin-bottom: 40px;
}

#guess-animal-hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/************* GUESS BUTTON *************/
.action-btn {
    background-color: var(--color-03);
    color: var(--color-01);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px var(--color-03);
    text-transform: uppercase;
    animation: shake .2s infinite;
}

@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

.action-btn:hover {
    background-color: var(--color-07);
    color: var(--color-03);
    transform: translateY(-2px);
}

/************* GUESS BUTTON > MODAL *************/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: var(--color-04);
    color: var(--color-02);
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    background-color: none;
    border: none;
    font-size: 2rem;
    color: var(--color-03);
    cursor: pointer;
    line-height: 1;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.close-btn:hover {opacity: 1;}

.modal-content h2 {
    color: var(--color-02);
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.modal-content h3 {
    color: var(--color-02);
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.modal-image-container {
    width: 100%;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px var(--color-03) ;
}

.modal-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************* RESULTS > MODAL *************/
/*CSS: TITLE AND STATUS*/
.search-status-success {
    text-align: center;
    color: var(--color-03);
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.search-status-text {
    text-align: center;
    color: var(--color-03);
    font-size: 1rem;
    margin-bottom: 3rem;
}

.search-status-error {
    text-align: center;
    color: #e74c3c;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/*CARDS CONTAINER*/
.animal-catalog-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.animal-card {
    background-color: var(--color-03);
    border-radius: 1.3rem;
    box-shadow: 0 4px 8px var(--color-03);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid var(--color-02);
}

.animal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/*TITLE: ANIMAL CARD*/
.animal-card h3 {
    color: var(--color-06);
    overflow: hidden;
    text-overflow: ellipsis;
}

/*CARD > PREVIEW*/
.animal-image-preview {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-04);
    border-radius: 2rem;
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.animal-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.animal-card:hover .animal-image-preview img {transform: scale(1.05);}

.animal-image-preview img[src*="placeholder-card.png"] {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto;
    display: block;
}


/************* USER MESSAGE (COUNTER) *************/
#message-content {
    display: none;

    position: fixed;
    bottom: 20px;
    right: 20px;

    max-width: 300px;
    padding: 15px 20px;
    border-radius: 1.2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--color-05);
    border-left: 5px solid var(--color-07);
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

#message-content p.message {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    font-family: var(--font-01);
}

#visitor-count {
    margin-top: 5px;
    padding-top: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-03);
    font-family: var(--font-01);
    text-align: right;
}

#visitor-count::before {content: "⭐"; margin-right: 5px;}


/************* FOOTER *************/
footer {
    background-color: var(--color-04);
    color: var(--color-03);
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    margin-top: auto;
}

#main-footer {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0.9rem;
}

#main-footer p {margin: 0.2rem 0;}

.last-modified {font-size: 1rem; opacity: 0.8;}

/************* MEDIA QUERIES *************/
@media (max-width: 992px) {
    .hero-title {font-size: 1.9rem;}
    .hero-subtitle {font-size: 1.3rem;}
}

@media (max-width: 768px) {
    .hero-title {font-size: 1.3rem;}
    .hero-subtitle {font-size: 1rem;}
    .action-btn {margin-top: 4rem;}
    
    .main-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;}

    .logo-link {margin-bottom: 1rem;}

    .search-container {
        width: 90%; 
        max-width: 500px;
        margin: 0 auto;
    }

    .search-container form {width: 100%;}

    .modal-content h2 {font-size: 1.8rem;}

    @keyframes pulse {
        from { transform: scale(1); }
        to { transform: scale(1); }
    }
}